@import '../base/variables';
@import '../base/mixins';

.cart-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid $grey-lighter;
  padding-bottom: 20px;

  &:last-child {
    border-bottom: none;
  }

  .item-details {
    display: flex;
    padding: 20px 0 0;
  }

  .image-container {
    width: 120px;
  }

  .aspect-ratio-container {
    overflow: hidden;
    height: 0;
    position: relative;
    padding-top: 72%;

    .image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .upper-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 120px);
    margin-left: 10px;

    .title-container {
      display: flex;
      justify-content: space-between;
      font-family: 'Chivo', sans-serif;
    }

    .price {
      font-weight: 300;
      color: $grey-light;
    }
    
    .remove-btn {
      width: 55px;
      color: $red;
      font-size: 14px;
      padding: 0;
    }
  }

  .quantity-cta {
    display: flex;
    margin-top: 15px;
    height:30px;

    .quantity,
    .button-half {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

    .quantity {
      width: 90px;
      border: 1px solid #F2F4F7;
      font-size: 18px;
    }

    .button-half {
      width: 75px;
      background-color: #F2F4F7;
      color: $grey-dark;
      font-size: 24px;

      &[disabled] {
        opacity: 0.3;
        pointer-events: none;
      }
    
      &:hover {
        background-color: $blue;
      }

      &:first-child {
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
      }

      &:last-child {
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
      }
    }
  }

  @include breakpoint(mobile) {
    .upper-container {
      .title-container {
        flex-direction: column;
      }

      .price {
        margin-top: 8px;
      }
    }

    .quantity-cta {
      height: 40px;
      max-width: 300px;

      .button-half {
        width: calc(50% - 45px);
      }
    }
  }
}