@import '../base/variables';
@import '../base/mixins';

.checkout {
  width: 100%;
  padding-bottom: 30px;
  margin-top: 20px;
  margin: 0 auto;
  font-family: 'Chivo', sans-serif;

  .upper-row {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-top: 1px solid $grey-lighter;
  }

  .lower-row {
    display: flex;
    justify-content: flex-end;
  }

  @include breakpoint(tablet) {

  }

  @include breakpoint(mobile) {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 0;

    .upper-row {
      margin: 0 15px;
      padding: 20px 0 30px;
    }

    .button {
      width: 100%;
      border-radius: 0;
      height: 45px;
    }
  }
}