@import '../base/variables';
@import '../base/mixins';

.header {
  padding: 55px 0 35px;
  border-bottom: 1px solid $grey-lighter;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    font-family: 'Chivo', sans-serif;
    font-weight: 700;
    font-size: 48px;
  }

  .cart-cta {
    background-color: transparent;
    font-family: 'Chivo', sans-serif;
    font-size: 14px;
    position: relative;

    span {
      position: absolute;
      top: -5px;
      right: -5px;
      width: 20px;
      height: 20px;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $blue;
      border-radius: 50%;
      color: $white;
    }
  }

  .cart-svg {
    width: 35px;
    height: auto;
  }

  @include breakpoint(mobile) {
    align-items: flex-start;
    flex-direction: column;
    padding: 30px 0 20px;

    .title {
      font-size: 36px;
      margin-bottom: 8px;
    }

    .cart-svg {
      width: 25px;
    }
  }
}