@import '../base/variables';
@import '../base/mixins';

.product {
  display: flex;
  flex-direction: column;

  .title-container {
    display: flex;
    justify-content: space-between;

    .title {
      font-family: 'Chivo', sans-serif;
      font-size: 32px;
    }

    .price {
      font-family: 'Chivo', sans-serif;
      font-weight: 300;
      font-size: 18px;
      color: $grey-light;
    }
  }

  .quantity-container {
    margin-top: 15px;
    font-family: 'Helvetica Neue', sans-serif;
  }

  @include breakpoint(tablet) {
    .quantity-container {
      margin-top: 10px;
    }
  }
}