.button {
  width: 140px;
  height: 40px;
  background-color: $blue;
  padding: 0;
  color: $white;
  border-radius: 20px;
  opacity: 1;
  text-transform: uppercase;
  transition: all 250ms $cubic-ease-out;

  &.disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  &:hover {
    background-color: $blue-darker;
  }

  @include breakpoint(mobile) {
    width: 120px;
    height: 30px;
  }
}