// Breakpoints
$bp-mobile: 767px;
$bp-tablet: 1279px;
$bp-desktop: 1280px;

// Global Sizes
$global-gutter: 80px;
$global-gutter-tablet: 50px;
$global-gutter-mobile: 15px;

$grey-bg: #F5F5F5;
$grey-light: #979797;
$grey-lighter: #D8D8D8;
$white: #FFFFFF;
$blue: #5E97D1;
$blue-darker: #407FC0;